.container {
    display: grid;
    flex-wrap: wrap;
}

.square {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    border: solid black;
}

/*https://stackoverflow.com/questions/2648733/make-a-div-square-when-there-is-a-dynamically-changing-width-based-on-percenta
must check this link for reference*/