.container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.row{
    flex-shrink: 1;
    border: solid black;
    margin: 2px;
}

/*https://stackoverflow.com/questions/2648733/make-a-div-square-when-there-is-a-dynamically-changing-width-based-on-percenta
must check this link for reference*/